In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("train.csv", index_col=["date"], parse_dates=True)
df

                        wind  solar     load  spread
date
2020-01-01 00:00:00   6084.0    0.0  43915.0   38.40
2020-01-01 00:15:00   5739.0    0.0  43770.0 -105.93
2020-01-01 00:30:00   5774.0    0.0  43267.0   -1.48
2020-01-01 00:45:00   5804.0    0.0  42934.0    3.97
2020-01-01 01:00:00   5791.0    0.0  42718.0  100.09
...                      ...    ...      ...     ...
2023-12-31 22:45:00  29922.0    2.0  41550.0  102.06
2023-12-31 23:00:00  29546.0    3.0  40733.0   35.24
2023-12-31 23:15:00  29204.0    3.0  39805.0   78.57
2023-12-31 23:30:00  29212.0    2.0  39034.0   92.18
2023-12-31 23:45:00  29620.0    2.0  38523.0  105.06

[140157 rows x 4 columns]